:root {
  --body-color: #2c3e50;
  --hover-color: #18bc9c;
  --playing-background-color: #2c3e5029;
  --slider-background-color: #2c3e5029;
}

.Lms-artistname.text-muted {
	font-style: italic;
	color: #7e8f9e;
}

.media, .media-body {
	overflow: visible;
}

