/* Stylized for flaty/darkly themes */
a, a:link, a:active, a:visited {
	text-decoration: none;
	cursor: pointer;
}

body {
	padding-bottom: 78px;
}

.Lms-vertical-align {
	display: flex;
	align-items: center;
}

.Lms-admin-users-entry {
	min-height: 48px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
}

.Lms-admin-users-add-btn {
	margin-top: 8px;
	margin-bottom: 8px;
}

.Lms-admin-users-entry-role {
	margin-left: 8px;
}

.Lms-admin-users-entry-btn {
	margin-right: 8px;
}

.Lms-artistname {
	color: var(--body-color);
}

a.Lms-artistname:hover, a.Lms-artistname:focus {
	color: var(--hover-color);
}

.Lms-cluster {
	display: inline-block;
	cursor: pointer;
	line-height: 1.3;
	margin-right: 4px;
	margin-bottom: 4px;
}

.Lms-cluster:hover {
	filter: brightness(130%);
}

.Lms-clusters-control {
	margin-top: 4px;
}

.Lms-control-btn:hover {
	color: var(--hover-color);
	cursor: pointer;
}

.Lms-cover {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.Lms-cover:hover {
	filter: brightness(130%);
}

.Lms-cover-container-smaller {
	width: 64px;
	height: 64px;
	position: relative;
}

.Lms-cover-container-small {
	width: 96px;
	height: 96px;
	position: relative;
}

.Lms-cover-container-medium {
	width: 128px;
	height: 128px;
	position: relative;
}

.Lms-cover-large {
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.Lms-entry-playing {
	font-weight: bold;
	border-radius: 3px;
	background-color: var(--playing-background-color);
}

.Lms-explore-btn {
	font-size: 24px !important;
	text-align: left;
	width: 28px;
}

.Lms-explore-clusters {
	display: inline-block;
}

.Lms-explore-contents {
	margin-bottom: 24px;
}

.Lms-explore-releases-entry {
	padding-top: 4px;
	padding-bottom: 4px;
}

.Lms-explore-release-cover {
	max-width: 100%;
}

.Lms-explore-release-entries-container {
	margin-bottom: 15px;
}

.Lms-explore-release-entry-tracknumber {
	text-align: right;
	white-space: nowrap;
}

.Lms-explore-release-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: inherit;
}

.Lms-explore-release-entry {
	min-height: 32px;
}

.Lms-explore-release-entry:hover .Lms-explore-release-entry-controls {
	display: block;
}

.Lms-explore-release-entry:hover .Lms-explore-release-entry-track-duration {
	display: none;
}

.Lms-explore-release-entry-controls {
	text-align: right;
	display: none;
}

.Lms-explore-release-entry-track-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-explore-releaselink {
	margin: 0;
	padding-top: 4px;
	padding-bottom: 4px;
}

.Lms-explore-artists-entry-small {
	min-height: 28px;
	margin: 0;
}

.Lms-explore-artists-input {
	margin-bottom: 10px;
}

.Lms-explore-artist-entry {
	padding-top: 4px;
	padding-bottom: 4px;
}

.Lms-explore-artist-entries-container {
	margin-bottom: 15px;
}

.Lms-explore-mode-container {
	margin-bottom: 8px;
}

.Lms-explore-tracks-entry:hover .Lms-explore-tracks-entry-controls {
	display: block;
}

.Lms-explore-tracks-entry:hover .Lms-explore-tracks-entry-duration {
	display: none;
}

.Lms-explore-tracks-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-explore-tracks-entry-controls {
	text-align: right;
	display: none;
}

.Lms-explore-tracks-entry-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-header {
	padding-bottom: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Lms-horizontal-center {
	display: flex;
	justify-content: center;
}

.Lms-navbar-search {
	max-width: 175px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}

.Lms-playqueue-btn {
	font-size: 24px !important;
	text-align: left;
}

.Lms-playqueue-entry:hover .Lms-playqueue-entry-controls {
	display: block;
}

.Lms-playqueue-entry:hover .Lms-playqueue-entry-duration {
	display: none;
}

.text-success .Lms-playqueue-btn {
	filter: brightness(130%);
	filter: drop-shadow(0 0 0.65rem var(--hover-color));
	color: var(--hover-color);
}

.Lms-playqueue-entry-controls {
	text-align: right;
	display: none;
}

.Lms-playqueue-entry-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-playqueue-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-playqueue-selected {
	font-weight: bold;
	border-radius: 3px;
	background-color: var(--playing-background-color);
}

.Lms-playqueue-selected h4 {
	font-weight: inherit;
}

.Lms-playhistory-entry {
	min-height: 32px;
	margin-bottom: 0;
}

.Lms-playhistory-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-player {
	z-index: 3;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
	background-color: var(--player-background-color);
}

.Lms-player-btn-volume {
	font-size: 18px !important;
	margin: auto;
}

.Lms-player-btn-controls {
	font-size: 40px !important;
	text-align: center;
	width: 1.1em;
}

.Lms-player-controls {
	text-align: center;
	white-space: nowrap;
}

.Lms-player-duration {
	line-height: 40px;
	text-align: right;
	white-space: nowrap;
}

.Lms-player-progress {
	background-color: var(--slider-background-color);
}

.Lms-player-seek {
	cursor: pointer;
	z-index: 1;
	touch-action: manipulation;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border-style: solid;
	border-width: thin;
}

.Lms-player-seek::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 0;
	width: 0;
}

.Lms-player-seek-container {
	margin-top: 8px;
	margin-bottom: 8px;
	position: relative;
	width: 100%;
	height: 8px;
}

.Lms-player-seek-common {
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	height: 8px;
	border-radius: 3px;
}

.Lms-player-seek::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 0;
	width: 0;
}

.Lms-player-text-center {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Lms-player-text {
	margin-left: 8px;
	margin-right: 8px;
}

.Lms-player-volume {
	width: 125px;
	height: 40px;
	display: flex;
}

.Lms-player-volume-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	border-style: solid;
	border-width: thin;
	background-color: var(--slider-background-color);
}

.Lms-player-volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: var(--body-color);
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

.Lms-player-volume-slider::-webkit-slider-thumb:hover {
	background-color: var(--hover-color);
}

.Lms-player-volume-slider::-moz-range-thumb {
	background-color: var(--body-color);
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

.Lms-player-volume-slider::-moz-range-thumb:hover {
	background-color: var(--hover-color);
}

.Lms-player-volume-slider-container {
	display: inline-block;
	width: 85px;
	margin: auto;
}

.Lms-releasename {
	color:  var(--body-color);
}

a.Lms-releasename:hover, a.Lms-releasename:focus {
	color: var(--hover-color);
}

.Lms-show-more {
	margin-top: 8px;
	margin-bottom: 8px;
}


