a, a:link, a:active, a:visited {
	text-decoration: none;
	cursor: pointer;
}

.Lms-vertical-align {
	display: flex;
	align-items: center;
}

.Lms-horizontal-center {
	display: flex;
	justify-content: center;
}

.Lms-contents {
	margin-bottom: 78px;
}

.Lms-show-more {
	margin-top: 8px;
	margin-bottom: 8px;
}

.Lms-admin-users-entry {
	min-height: 48px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
}

.Lms-admin-users-add-btn {
	margin-top: 8px;
	margin-bottom: 8px;
}

.Lms-admin-users-entry-role {
	margin-left: 8px;
}

.Lms-admin-users-entry-btn {
	margin-right: 8px;
}

.Lms-artistname {
	color: var(--body-color);
}

a.Lms-artistname:hover, a.Lms-artistname:focus {
	color: var(--hover-color);
}

.Lms-cluster {
	display: inline;
	cursor: pointer;
}

.Lms-cluster:hover {
	filter: brightness(130%);
}

.Lms-cluster-type-0 {
	background-color: darkslategrey;
	margin-bottom: 4px;
}

.Lms-cluster-type-1 {
	background-color: darkblue;
	margin-bottom: 4px;
}

.Lms-cluster-type-2 {
	background-color: darkgrey;
	margin-bottom: 4px;
}

.Lms-cluster-type-3 {
	background-color: darkorchid;
	margin-bottom: 4px;
}

.Lms-cluster-type-4 {
	background-color: darkgoldenrod;
	margin-bottom: 4px;
}

.Lms-cluster-type-5 {
	background-color: darkkhaki;
	margin-bottom: 4px;
}

.Lms-cluster-type-6 {
	background-color: darkolivegreen;
	margin-bottom: 4px;
}

.Lms-cluster-type-7 {
	background-color: darkred;
	margin-bottom: 4px;
}

.Lms-cluster-type-8 {
	background-color: darkviolet;
	margin-bottom: 4px;
}

.Lms-cluster-type-9 {
	background-color: darkturquoise;
	margin-bottom: 4px;
}

.Lms-control-btn:hover {
	color: var(--hover-color);
}

.Lms-cover:hover {
	filter: brightness(130%);
}

.Lms-cover-small {
	width: 64px; /* some cover may not be square */
	border-radius: 10px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.Lms-cover-medium {
	width: 128px;
	border-radius: 16px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.Lms-cover-large {
	border-radius: 16px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.Lms-explore-contents {
	margin-bottom: 24px;
}

.Lms-explore-releases-entry {
	padding-top: 8px;
	padding-bottom: 8px;
}

.Lms-explore-release-cover {
	max-width: 100%;
}

.Lms-explore-release-entry-tracknumber {
	text-align: center;
	white-space: nowrap;
}

.Lms-explore-release-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight: inherit;
}

.Lms-explore-release-entry {
	min-height: 32px;
}

.Lms-explore-release-entry:hover .Lms-explore-release-entry-controls {
	display: block;
}

.Lms-explore-release-entry:hover .Lms-explore-release-entry-track-duration {
	display: none;
}

.Lms-explore-release-entry-controls {
	text-align: right;
	display: none;
}

.Lms-explore-release-entry-playing {
	font-weight: bold;
}

.Lms-explore-release-entry-track-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-explore-releaselink {
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.Lms-explore-artists-entry {
	min-height: 48px;
}

.Lms-explore-artists-entry-name {
	font-style: normal;
}

.Lms-explore-artists-input {
	margin-bottom: 10px;
}

.Lms-explore-artist-entry {
	padding-top: 8px;
	padding-bottom: 8px;
}

.Lms-explore-artistlink {
	min-height: 28px;
	margin: 0px;
}

.Lms-explore-tracks-entry {
	min-height: 32px;
}

.Lms-explore-tracks-entry:hover .Lms-explore-tracks-entry-controls {
	display: block;
}

.Lms-explore-tracks-entry:hover .Lms-explore-tracks-entry-duration {
	display: none;
}

.Lms-explore-tracks-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-explore-tracks-entry-controls {
	text-align: right;
	display: none;
}

.Lms-explore-tracks-entry-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-explore-tracksinfo-entry {
	min-height: 28px;
	margin: 0px;
}

.Lms-explore-btn {
	font-size: 22px !important;
	cursor: pointer;
}

.Lms-navbar {
	border-radius: 0px;
}

.Lms-playqueue-entry {
	min-height: 32px;
}

.Lms-playqueue-entry:hover .Lms-playqueue-entry-controls {
	display: block;
}

.Lms-playqueue-entry:hover .Lms-playqueue-entry-duration {
	display: none;
}

.Lms-playqueue-btn {
	font-size: 22px !important;
	cursor: pointer;
	margin: 2px;
}

.Lms-playqueue-entry-controls {
	text-align: right;
	display: none;
}

.Lms-playqueue-entry-duration {
	text-align: right;
	white-space: nowrap;
	display: block;
}

.Lms-playqueue-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-playqueue-selected {
	font-weight: 800;
}

.Lms-playqueue-selected h4 {
	font-weight: inherit;
}

.Lms-playhistory-entry {
	min-height: 32px;
	margin-bottom: 0px;
}

.Lms-playhistory-entry-name {
	margin-top: 4px;
	margin-bottom: 4px;
}

.Lms-player {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding: 0px;
	margin: 0px;
}

.Lms-player-btn {
	cursor: pointer;
}

.Lms-player-btn-volume {
	font-size: 18px !important;
	margin: auto;
}

.Lms-player-btn-controls {
	font-size: 40px !important;
	text-align: center;
	width: 0.9em;
}

.Lms-player-controls {
	text-align: center;
	white-space: nowrap;
}

.Lms-player-duration {
	line-height: 40px;
	text-align: right;
	white-space: nowrap;
}

.Lms-player-progress {
	background-color: var(--slider-background-color);
}

.Lms-player-seek {
	cursor: pointer;
	z-index: 1;
	touch-action: manipulation;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border-style: solid;
	border-width: thin;
}

.Lms-player-seek::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 0px;
	width: 0px;
}

.Lms-player-seek-container {
	margin-top: 8px;
	margin-bottom: 8px;
	position: relative;
	width: 100%;
	height: 8px;
}

.Lms-player-seek-common {
	position: absolute;
	width:100%;
	top: 0px;
	left: 0px;
	height: 8px;
	border-radius: 4px;
}

.Lms-player-seek::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 0px;
	width: 0px;
}

.Lms-player-text-center {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Lms-player-text {
	margin-left: 8px;
	margin-right: 8px;
}

.Lms-player-volume {
	width: 125px;
	height: 40px;
	display: flex;
}

.Lms-player-volume-slider::-webkit-slider-thumb {
	background-color: var(--body-color);
}

.Lms-player-volume-slider::-webkit-slider-thumb:hover {
	background-color: var(--hover-color);
}

.Lms-player-volume-slider::-moz-range-thumb {
	background-color: var(--body-color);
}

.Lms-player-volume-slider::-moz-range-thumb:hover {
	background-color: var(--hover-color);
}

.Lms-player-volume-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	border-style: solid;
	border-width: thin;
	background-color: var(--slider-background-color);
}

.Lms-player-volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

.Lms-player-volume-slider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

.Lms-player-volume-slider-container {
	display: inline-block;
	width: 85px;
	margin: auto;
}

.Lms-releasename {
	color:  var(--body-color);
}

a.Lms-releasename:hover, a.Lms-releasename:focus {
	color: var(--hover-color);
}

