
<?xml version="1.0" encoding="UTF-8" ?>
<messages xmlns:if="Wt.WTemplate.conditions">
<!--FORMS message blocks-->

<message id="Lms.Settings.template">
	<legend>${tr:Lms.Settings.audio}</legend>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:transcoding-enable}">
				${tr:Lms.Settings.transcoding-enable}
			</label>
			<div class="col-sm-5">
				${transcoding-enable}
			</div>
			<div class="help-block col-sm-5">
				${transcoding-enable-info}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:transcoding-format}">
				${tr:Lms.Settings.transcoding-format}
			</label>
			<div class="col-sm-5">
				${transcoding-format}
			</div>
			<div class="help-block col-sm-5">
				${transcoding-format-info}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:transcoding-bitrate}">
				${tr:Lms.Settings.transcoding-bitrate}
			</label>
			<div class="col-sm-5">
				<div class="input-group">
					${transcoding-bitrate}
					<span class="input-group-addon">kbps</span>
				</div>
			</div>
			<div class="help-block col-sm-5">
				${transcoding-bitrate-info}
			</div>
		</div>
	</div>
	<legend>${tr:Lms.Settings.account}</legend>
	<div class="form-horizontal">
		${<if-has-old-password>}
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:password-old}">
				${tr:Lms.password-old}
			</label>
			<div class="col-sm-5">
				${password-old}
			</div>
			<div class="help-block col-sm-5">
				${password-old-info}
			</div>
		</div>
		${</if-has-old-password>}
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:password}">
				${tr:Lms.password}
			</label>
			<div class="col-sm-5">
				${password}
			</div>
			<div class="help-block col-sm-5">
				${password-info}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"  for="${id:password-confirm}">
				${tr:Lms.password-confirm}
			</label>
			<div class="col-sm-5">
				${password-confirm}
			</div>
			<div class="help-block col-sm-5">
				${password-confirm-info}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				${apply-btn class="btn-primary"} ${discard-btn}
			</div>
		</div>
	</div>
</message>

</messages>
