.main-nav {
	margin-bottom: 0px;
}

.Wt-hrh2 {
	background-color: white;
}

.Wt-vrh2 {
	background-color: white;
}

div.contents {
	padding: 0px 12px 6px;
}

.playqueue {
	background-color: #EEE;
	border-radius: 10px;
}

.playqueue-playing {
	background-color: #4A42CA;
}

.Wt-tableview .playqueue-playing {
	color: #FFF;
}

.Wt-tableview div.playqueue-playing {
	background-color: #4A42CA;
}

.Wt-tableview .Wt-tv-contents.Wt-striped div.playqueue-playing:nth-child(odd) {
	background-color: #4A42CA;
}

.playqueue-track {
	margin-top: 12px;
	line-height: normal;
	font-weight: bold;
}

.playqueue-artist {
	line-height: normal;
	font-style: italic;
}

.mediaplayer {
	background-color: #CCC;
	border-radius: 10px;
}

.mediaplayer-controls {
	font-weight: bold;
}

.mobile-search-title {
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	background-color: grey;
	color: white;
	text-align: center;
}

.mobile-search-entry {
	min-height: 64px;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mobile-search-entry:active {
	background-color: lightgrey;
}

.mobile-search-more {
	height: 64px;
	border-bottom: 1px solid lightgray;
}

.mobile-search-more:active {
	background-color: lightgrey;
}

.mobile-track {
	font-weight: bold;
}

.mobile-artist {
	font-style: italic;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.mobile-audio-footer {
	background-color: #f5f5f5;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
}

