
main = {

	logger = {
		level = 7;	# level common for all loggers
		file = {
			enable = true;
			path = "/var/lms/lms.log";	# comment to disable file logging
		}
		console = {
			enable = true;
		}
	}

	database = {
		path = "/var/lms/lms.db";

		audio_extensions = "mp3 ogg oga aac m4a flac wav wma aif aiff ape mpc shn";
		video_extensions = "flv avi mpg mpeg mp4 m4v mkv mov wmv ogv divx m2ts";
	}

	cover = {
		file_extensions = "jpg jpeg";
		file_max_size = 5000000;
		file_preferred_names = "cover front";
	}
}

