
main = {

	logger = {
		file = "/var/lms/lms.log"	# comment to disable file logging
		console = true;
		level = 7;
	}

	database = {
		path = "/var/lms/lms.db";

		audio_extensions = "mp3 ogg oga aac m4a flac wav wma aif aiff ape mpc shn";
		video_extensions = "flv avi mpg mpeg mp4 m4v mkv mov wmv ogv divx m2ts"
	}
}


ui = {
	enable = true;

	resources = {
		docroot = "/usr/share/Wt/"
		approot = "/var/lms/approot"
	}

	listen-endpoint = {
		port = 5081;
		addr = "0.0.0.0";
	}

	ssl-crypto = {
		cert = "/var/lms/certs/certUI.pem";
		key = "/var/lms/private/privkeyUI.pem";
		dh = "/var/lms/dh/dh2048.pem";
	}

}

remote = {
	enable = true;

	nb-threads = 1;

	listen-endpoint = {
		port = 5080;
		addr = "0.0.0.0";
	}

	ssl-crypto = {
		cert = "/var/lms/certs/certRemote.pem";
		key = "/var/lms/private/privkeyRemote.pem";
		dh = "/var/lms/dh/dh2048.pem";
	}
}

